* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  width: 100%;
  max-width: 1440px;
  background-color: #5c48d2;
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-size: 1.6rem;
  margin: 0 auto;
}

h1 {
  font-size: 4.8rem;
  color: #fff;
  line-height: 20rem;
  text-transform: capitalize;
  text-align: center;
}

.main-block {
  width: 100%;
  max-width: 1024px;
  background: white;
  border-radius: 20px;
  margin: 0 auto;
}

nav {
  height: 100px;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  /* flex: 1, width: 25% */
  align-items: center;
}

.link {
  font-size: 2rem;
  color: #190f33;
  text-decoration: none;
}

.link:hover {
  color: #5c48d2;
}

.link_header {
  text-transform: capitalize;
}

.img_bg {
  background: url(../img/computer.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
  max-width: 1024px;
}

.section_aboutme {
  width: 100%;
  height: max-content;
  max-width: 1024px;
  background: white;
  padding: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
}

.section_aboutme_top {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.photo_profile {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 0.2rem solid #fcc01a;
  object-fit: cover;
}

.section_aboutme_name_and_city {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

h2 {
  font-size: 3.8rem;
  font-weight: bold;
  color: #190f33;
  /* margin-bottom: 5rem; */
  text-transform: capitalize;
}

h3 {
  font-size: 3rem;
  /* font-style: italic; */
  color: #190f33;
  text-transform: capitalize;
  font-weight: bold;
  /* margin-bottom: 4rem; */
}

.h3_italic {
  font-style: italic;
  font-weight: normal;
}

p {
  font-size: 2rem;
  line-height: 3rem;
  text-align: justify;
  /* margin-bottom: 4rem; */
}

.section_education {
  width: 100%;
  max-width: 1024px;
  background: #eeeef7;
  padding: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;
}

.bolded {
  font-weight: bold;
}

.p_text_sections {
  text-align: center;
}

.logos {
  height: 100px;
}

.logos_education {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.section_projects {
  width: 100%;
  max-width: 1024px;
  background: white;
  padding: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
}

.title_section_projects {
  height: 328.13px; /* so consegui fazendo assim :( */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}

.text_section_projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.projects {
  width: 100%;
  max-width: 1024px;
  display: flex;
  align-items: center;
  gap: 8rem;
}

.img_projects {
  width: 50rem;
}

h4 {
  font-size: 2.6rem;
  text-transform: capitalize;
  font-weight: bold;
}

h5 {
  font-size: 1.8rem;
  text-transform: capitalize;
  font-weight: bold;
}

ul {
  line-height: 30px;
}

.section_contact {
  width: 100%;
  max-width: 1024px;
  background: #eeeef7;
  padding: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.contacts {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.contacts_block {
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 7rem;
}

.contact_imgs {
  height: 30px;
  margin-right: 2rem;
}

footer {
  width: 100%;
  max-width: 1024px;
  height: 100%;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10rem;
}

.text_footer {
  line-height: 4rem;
  font-size: 1.6rem;
  color: #c4c4c4;
}

.link_footer {
  text-transform: capitalize;
  color: #fcc01a;
  line-height: 4rem;
  font-size: 1.6rem;
}

.link_footer:hover {
  color: #190f33;
}
